# 3 Paskaita: Užduotis su tekstu. Susipažinimas su duomenų masyvais

Užduotys:


Kurios firmos mobilieji telefonai yra populiariausi pagal reitingus. 
Kurios firmos mobilieji telefonai yra brangiausi/pigiausi?


Kurie filmai  turi aukščiausi/žemiausią reitingą IMBD?
Kokio zanro filmai turi aukščiausią/žemiausią reitingą IMBD?
Kuris filmas yra seniausias?
Kuris filmas yra naujausias?
Penki populiariausi tag'ai?
Susiekite tag'us su penkiais geriausiai/blogiausiai vertinamai filmais? Kokias įžvalgas galite pasakyti?

In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('Amazon_Unlocked_Mobile.csv')
df.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
0,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,I feel so LUCKY to have found this used (phone...,1.0
1,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,"nice phone, nice up grade from my pantach revu...",0.0
2,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,5,Very pleased,0.0
3,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,It works good but it goes slow sometimes but i...,0.0
4,"""CLEAR CLEAN ESN"" Sprint EPIC 4G Galaxy SPH-D7...",Samsung,199.99,4,Great phone to replace my lost phone. The only...,0.0

In [37]:
df.groupby('Brand Name')['Rating'].mean().sort_values(ascending = [False])

Brand Name
AKUA                  5.0
GOOGLE                5.0
iPartsBuy             5.0
iNew                  5.0
Bluboo                5.0
                     ...
Yezz Wireless Ltd.    1.0
nokia                 1.0
UHAPPY                1.0
Odysseus              1.0
Vernee                1.0
Name: Rating, Length: 384, dtype: float64

In [38]:
df.groupby('Brand Name')['Price'].mean().sort_values(ascending = [False])

Brand Name
PowerMoxie                                    2000.0000
Iridium                                       1531.0000
MTM Trading LLC                               1300.0000
Google Pixel                                   827.7475
BlueCosmo                                      734.0000
                                                ...
Doro                                                NaN
IPRO                                                NaN
JANIZZ                                              NaN
New Nextel Rugged Motorola I680 Cell Phone          NaN
Unlocked Cell Phone                                 NaN
Name: Price, Length: 384, dtype: float64

In [39]:
df.groupby('Brand Name')['Price'].mean().sort_values(ascending = [True])

Brand Name
ATT                                           2.290000
Verizon                                       3.500000
AT&T                                          3.990000
Sonim                                         6.280000
DTECH                                         6.473684
                                                ...
Doro                                               NaN
IPRO                                               NaN
JANIZZ                                             NaN
New Nextel Rugged Motorola I680 Cell Phone         NaN
Unlocked Cell Phone                                NaN
Name: Price, Length: 384, dtype: float64

In [40]:
rating = pd.read_csv('ratings.csv')

In [41]:
title = pd.read_csv('movie_titles.csv')

In [42]:
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [43]:
title.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [44]:
df1 = pd.merge(rating, title, on = 'movieId')
df1.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
 4   title      100836 non-null  object
 5   genres     100836 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.4+ MB

Kurie filmai  turi aukščiausi/žemiausią reitingą IMBD?

In [46]:
df1.groupby('title')['rating'].mean().sort_values(ascending = [False])

title
Karlson Returns (1970)                           5.0
Winter in Prostokvashino (1984)                  5.0
My Love (2006)                                   5.0
Sorority House Massacre II (1990)                5.0
Winnie the Pooh and the Day of Concern (1972)    5.0
                                                ...
The Beast of Hollow Mountain (1956)              0.5
Follow Me, Boys! (1966)                          0.5
The Butterfly Effect 3: Revelations (2009)       0.5
The Emoji Movie (2017)                           0.5
Rust and Bone (De rouille et d'os) (2012)        0.5
Name: rating, Length: 9719, dtype: float64

In [47]:
df1.groupby('title')['rating'].mean().sort_values(ascending = [True])

title
Rust and Bone (De rouille et d'os) (2012)        0.5
The Emoji Movie (2017)                           0.5
The Butterfly Effect 3: Revelations (2009)       0.5
Follow Me, Boys! (1966)                          0.5
The Beast of Hollow Mountain (1956)              0.5
                                                ...
Winnie the Pooh and the Day of Concern (1972)    5.0
Sorority House Massacre II (1990)                5.0
My Love (2006)                                   5.0
Winter in Prostokvashino (1984)                  5.0
Karlson Returns (1970)                           5.0
Name: rating, Length: 9719, dtype: float64

In [48]:
# Kokio zanro filmai turi aukščiausią/žemiausią reitingą IMBD?

In [49]:
df1.groupby('genres')['rating'].mean().sort_values(ascending = [False])

genres
Fantasy|Mystery|Western                5.0
Animation|Children|Mystery             5.0
Comedy|Horror|Mystery                  5.0
Animation|Drama|Fantasy|Mystery        5.0
Drama|Horror|Romance                   5.0
                                      ...
Action|Adventure|Comedy|Sci-Fi|IMAX    0.5
Children|Horror|Sci-Fi                 0.5
Animation|Children|Comedy|Drama        0.5
Crime|Horror|Sci-Fi                    0.5
Adventure|Children|Comedy|Sci-Fi       0.5
Name: rating, Length: 951, dtype: float64

In [50]:
df1.groupby('genres')['rating'].mean().sort_values(ascending = [True])

genres
Adventure|Children|Comedy|Sci-Fi       0.5
Crime|Horror|Sci-Fi                    0.5
Animation|Children|Comedy|Drama        0.5
Children|Horror|Sci-Fi                 0.5
Action|Adventure|Comedy|Sci-Fi|IMAX    0.5
                                      ...
Drama|Horror|Romance                   5.0
Animation|Drama|Fantasy|Mystery        5.0
Comedy|Horror|Mystery                  5.0
Animation|Children|Mystery             5.0
Fantasy|Mystery|Western                5.0
Name: rating, Length: 951, dtype: float64

In [51]:
# Kuris filmas yra seniausias?

In [52]:
import re

In [53]:
df1['year'] = df1['title'].str.extract('.*\((.*)\).*')
df1.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995

In [54]:
df1['year'].unique()

array(['1995', '1996', '1994', '1977', '1993', '1990', '1989', '1991',
       '1940', '1939', '1941', '1938', '1947', '1975', '1968', '1945',
       '1963', '1971', '1951', '1979', '1992', '1986', '1982', '1980',
       '1987', '1981', '1983', '1960', '1952', '1984', '1933', '1985',
       '1974', '1922', '1997', '1998', '1930', '1976', '1942', '1967',
       '1959', '1946', '1978', '1973', '1988', '1999', '1931', '1964',
       '1962', '1965', '1969', '2000', '1970', '2003', '2004', '2006',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '1955', '2002', '1961', '1954', '1957', '1943', '1956', '1966',
       '2001', '1937', '1972', '2005', '1950', '2007', '2016', '1926',
       '1944', '1949', '1936', '2017', '1958', '1935', '1927', '1953',
       '2018', '1923', '1902', '1920', '1948', '1928', nan, '1934',
       '1916', '1908', '1932', '1921', '1925', '1929', '1917',
       '2006–2007', '1915', '1924', '1903', '1919'], dtype=object)

In [55]:
df1.groupby('title')['year'].min().sort_values(ascending = [True])

title
Trip to the Moon, A (Voyage dans la lune, Le) (1902)    1902
The Great Train Robbery (1903)                          1903
The Electric Hotel (1908)                               1908
Birth of a Nation, The (1915)                           1915
20,000 Leagues Under the Sea (1916)                     1916
                                                        ...
Nocturnal Animals                                        NaN
Paterson                                                 NaN
Ready Player One                                         NaN
The Adventures of Sherlock Holmes and Doctor Watson      NaN
The OA                                                   NaN
Name: year, Length: 9719, dtype: object

In [56]:
df1.groupby('title')['year'].min().sort_values(ascending = [False])

title
Ant-Man and the Wasp (2018)                            2018
Tag (2018)                                             2018
Rampage (2018)                                         2018
A Quiet Place (2018)                                   2018
BlacKkKlansman (2018)                                  2018
                                                       ...
Nocturnal Animals                                       NaN
Paterson                                                NaN
Ready Player One                                        NaN
The Adventures of Sherlock Holmes and Doctor Watson     NaN
The OA                                                  NaN
Name: year, Length: 9719, dtype: object

In [57]:
df1

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
...,...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller,1997
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama,1971
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller,2005
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller,2016
100835,610,163981,3.5,1493850155,31 (2016),Horror,2016

In [58]:
tag = pd.read_csv('tags.csv')
tag

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [59]:
df2 = pd.merge(df1, tag, on = 'movieId')
df2.head()

,userId_x,movieId,rating,timestamp_x,title,genres,year,userId_y,tag,timestamp_y
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,336,pixar,1139045764
1,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,474,pixar,1137206825
2,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,567,fun,1525286013
3,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,336,pixar,1139045764
4,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,474,pixar,1137206825

Penki populiariausi tag'ai?

In [68]:
tag['tag'].value_counts().head()

In Netflix queue     131
atmospheric           36
superhero             24
thought-provoking     24
Disney                23
Name: tag, dtype: int64

Susiekite tag'us su penkiais geriausiai/blogiausiai vertinamai filmais? Kokias įžvalgas galite pasakyti?

In [72]:
best_movies = df2.groupby('title')['rating'].mean().sort_values(ascending = [False]).head().index
best_movies

Index(['Woman Under the Influence, A (1974)', 'Who Killed Chea Vichea? (2010)',
       'More (1998)', 'Come and See (Idi i smotri) (1985)',
       'Crossing Delancey (1988)'],
      dtype='object', name='title')

In [75]:
df2.loc[df2['title'].isin(best_movies), 'tag'].value_counts()

disturbing           2
bleak                2
harsh                2
atmospheric          2
gritty               2
Cambodia             1
no dialogue          1
creativity           1
New York             1
imagination          1
procedural           1
dystopia             1
claymation           1
social commentary    1
human rights         1
crime                1
free to download     1
murder               1
In Netflix queue     1
Name: tag, dtype: int64