# Pandas uždavyniai

## Uždavinys

Jūs apačioje matote dvi lenteles, kuriose surašyti a) grupių atlikėjai ir kokioms grupėms jie priklauso/ė bei b) grupių atlikėjai ir kokiais instrumentais jie groja.

Sujunkite šiuos Pandas DataFrame (lenteles) naudodami a) 'left', b)'right', c) 'inner' ir d) 'outer' variantais. Paaiškinkite, kuo skiriasi rezultatai.

In [1]:
import pandas as pd
band_members = pd.DataFrame({'name':['Mick', 'John', 'Paul'], 
                            'band':['Stones', 'Beatles', 'Beatles']})

band_instruments = pd.DataFrame({'name':['John', 'Paul', 'Keight'],
                                'plays':['guitar', 'boss', 'guitar']})

In [2]:
band_members

   name     band
0  Mick   Stones
1  John  Beatles
2  Paul  Beatles

In [3]:
band_instruments

     name   plays
0    John  guitar
1    Paul    boss
2  Keight  guitar

In [6]:
a = pd.merge(band_members, band_instruments, left_on=['name'], right_on=['name'], how = 'left')
a

   name     band   plays
0  Mick   Stones     NaN
1  John  Beatles  guitar
2  Paul  Beatles    boss

In [7]:
b = pd.merge(band_members, band_instruments, left_on=['name'], right_on=['name'], how = 'right')
b

     name     band   plays
0    John  Beatles  guitar
1    Paul  Beatles    boss
2  Keight      NaN  guitar

In [8]:
c = pd.merge(band_members, band_instruments, left_on=['name'], right_on=['name'])
c

   name     band   plays
0  John  Beatles  guitar
1  Paul  Beatles    boss

In [9]:
d = pd.merge(band_members, band_instruments, left_on=['name'], right_on=['name'], how = 'outer')
d

     name     band   plays
0    Mick   Stones     NaN
1    John  Beatles  guitar
2    Paul  Beatles    boss
3  Keight      NaN  guitar

Daugiau pavyzdžių apie Pandas sujungimus galite rasti čia: https://www.shanelynn.ie/merge-join-dataframes-python-pandas-index-1/